:root {
  --primary-color: #FDF1DD;
  --secondary-color: #DDD7C5;
  --contrast-color: #438088;
  --background-color: #373B41;
  --header-background-color: #1a1d20;
}
body {
  font-family: 'Roboto', serif;
  font-weight: 300;
  margin: 0 0;
  padding: 0 0;
  background-color: var(--background-color);
  color: var(--primary-color);
}
.header {
  background-color: var(--header-background-color);
  color: var(--secondary-color);
  display: flex;
  font-weight: 600;
  font-size: 24px;
  padding: 25px 100px;
}
.headerEl {
  width: auto;
  display: flex;
  flex: 1;
  justify-content: center;
  cursor: pointer;
}
img {
  height: 36px;
  width: auto;
}
.logo {
  height: 36px;
  display: flex;
}